<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading" jhiTranslate="quickWriteApiApp.customer.home.createOrEditLabel">
        Customerni tahrirlash
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.active" for="field_active">Active</label>
          <input type="text" class="form-control" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.customerName" for="field_customerName">Customer Name</label>
          <input
            type="text"
            class="form-control"
            name="customerName"
            id="field_customerName"
            data-cy="customerName"
            formControlName="customerName"
          />
          <div
            *ngIf="editForm.get('customerName')!.invalid && (editForm.get('customerName')!.dirty || editForm.get('customerName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('customerName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              To`ldirish zarur
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              To`ldirish zarur
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.password" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
          <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('password')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              To`ldirish zarur
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.recordWpm" for="field_recordWpm">Record Wpm</label>
          <input type="number" class="form-control" name="recordWpm" id="field_recordWpm" data-cy="recordWpm" formControlName="recordWpm" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.photo" for="field_photo">Photo</label>
          <input type="text" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="quickWriteApiApp.customer.group" for="field_group">Group</label>
          <select class="form-control" id="field_group" data-cy="group" name="group" formControlName="group" [compareWith]="compareGroup">
            <option [ngValue]="null"></option>
            <option [ngValue]="groupOption" *ngFor="let groupOption of groupsCollection">{{ groupOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Bekor</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Saqla</span>
        </button>
      </div>
    </form>
  </div>
</div>
