<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span jhiTranslate="quickWriteApiApp.customer.detail.title">Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.active">Active</span></dt>
        <dd>
          <span>{{ customer.active }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.customerName">Customer Name</span></dt>
        <dd>
          <span>{{ customer.customerName }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.email">Email</span></dt>
        <dd>
          <span>{{ customer.email }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.password">Password</span></dt>
        <dd>
          <span>{{ customer.password }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.recordWpm">Record Wpm</span></dt>
        <dd>
          <span>{{ customer.recordWpm }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.photo">Photo</span></dt>
        <dd>
          <span>{{ customer.photo }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.createdAt">Created At</span></dt>
        <dd>
          <span>{{ customer.createdAt | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="quickWriteApiApp.customer.group">Group</span></dt>
        <dd>
          <div *ngIf="customer.group">
            <a [routerLink]="['/group', customer.group.id, 'view']">{{ customer.group.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Orqaga</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">O`zgartir</span>
      </button>
    </div>
  </div>
</div>
